/* Shared form, inputs and button styles moved to global styles.css */

.imgcontainer {
  text-align: center;
  margin: 1rem 25rem 1rem 25rem;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container { /* padding defined globally */ }

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* link-button, success, error are provided globally */