.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
share-web/bin/
share-web/target/
node_modules/
target/
.angular/
dist/
*.log
.DS_Store
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
.factorypath
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
build/
out/
*.tmp
*.temp
**/target/
*.lst
**/node_modules/
node_modules/
share-client/node_modules/
share-client/node/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Maven build files
**/target/**
*.original

# Angular build files
**/.angular/**
**/dist/**
share-client/.angular/
share-client/dist/

# Node files
share-client/node/**
share-client/node/
**/node/**
**/node/
node/
share-client/node/*.exe
share-client/node/npm
share-client/node/npx
share-client/node/npm.cmd
share-client/node/npx.cmd

# IDE files
**/.settings/**
**/.settings/
.settings/
**/.classpath
.classpath
**/.project
.project
**/.factorypath
.factorypath
share-web/.classpath
share-web/.factorypath
share-web/.settings/

# Compiled files
**/*.class
share-web/**/*.jar
share-web/**/*.war
